streamlit
pandas
requests
python-dotenv
openai>=1.0.0
azure-storage-blob
folium
streamlit-folium
openpyxl
pytube
azure-cognitiveservices-speech
moviepy
fpdf
beautifulsoup4
lxml
yt-dlp
numpy
isodate
youtube-transcript-api
google-api-python-client
